{% extends 'myapp/base_admin.html' %}
{% load static %}
{% block content %}
<style>
    body {
        background-image: url('{% static 'img/airplane2.png' %}');
        background-size: cover;
    }

    .card {
        background-color: #f5faff;
        padding: 20px;
    }

    .card-title {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .pull-right {
        text-align: right;
    }
</style>
<br><br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-6 mt-5">
            <div class="card" style="background-color: #e9f1f7;">
                <h2 class="text-center mb-4" style="color: blue;">Find Your Flights!</h2>
                <form action="{% url 'findflight' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="source-input" class="col-2 col-form-label">From</label>
                        <div class="col-10">
                            <select name="source" class="form-control" id="source-input">
                                {% for airport in source_airports %}
                                    <option value="{{ airport }}">{{ airport }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="destination-input" class="col-2 col-form-label">To</label>
                        <div class="col-10">
                            <select name="destination" class="form-control" id="destination-input">
                                {% for airport in dest_airports %}
                                    <option value="{{ airport }}">{{ airport }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


<div class="form-group row">
    <label for="date-input" class="col-2 col-form-label">Date</label>
    <div class="col-10">
        <select name="date" class="form-control" id="date-input">
            {% for option in date_choices %}
                <option value="{{ option.date }}">{{ option.date }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="form-group row">
    <label for="time-input" class="col-2 col-form-label">Time</label>
    <div class="col-10">
        <select name="time" class="form-control" id="time-input">
            {% for option in time_choices %}
                <option value="{{ option.time }}">{{ option.time }}</option>
            {% endfor %}
        </select>
    </div>
</div>


                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Search flights</button>
                    </div>
                </form>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
